
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 >Friend List Details</h1 >
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
          <tr class="text-center">
            <th></th>
            <th>No</th>
            <th>Friend Img</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile No</th>
          </tr>
          <tr *ngFor="let user of users; let i = index;" class="text-center">

            <td></td>
            <td>{{ i + 1 }}</td>
            <td> <img src="{{ user.avatar}}" class="img-thumbnail" ></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobileno}}</td>
            <td>
              <button routerLink="user/{{ user.id }}" class=" btn btn-outline-primary">Edit</button>
              <button (click)="deleteUser(user.id)" class="btn btn-outline-danger">Delete</button>
            </td>
          </tr>

        </table>
    </div>
</div>
